<?xml version="1.0"?>
<launch>
    
  <arg name="robot_type" default="j2n6a300"/>
  <arg name="finger_unit" default="percent"/>
  <arg name="finger_final_relative" default="False"/>

  <node pkg="rb1_arm_finger_control" type="rb1_finger_control.py" respawn="false" name="rb1_finger_control" output="screen">

     <param name="robot_type" value="j2n6a300" type= "str"/>

     <param name="finger_unit" value="percent" type= "str"/><!--turn or mm or percent-->
     <param name="finger1_final_value" value="0" />
     <param name="finger2_final_value" value="0" />
     <param name="finger3_final_value" value="0" />
     <param name="finger_final_relative" value="False" type= "bool"/>

   </node> 
</launch>
